# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments/IDE
.venv/
venv/
.env
.env.*
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints/

# Data and outputs
data_raw/*
!data_raw/.gitkeep
outputs/*
!outputs/.gitkeep
rva_layers/*
!rva_layers/.gitkeep

# Common large geodata
*.geoparquet
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qgz

